params.genomes_base = "/mnt/data7/gongyh/Nanno/epi/histone"

params {
  genomes {
    'IMET1v2' {
        bed12   = "${params.genomes_base}/IMET1v2/Annotation/Genes/genes.bed"
        fasta   = "${params.genomes_base}/IMET1v2/Sequence/WholeGenomeFasta/genome.fa"
        gtf     = "${params.genomes_base}/IMET1v2/Annotation/Genes/genes.gtf"
        star    = "${params.genomes_base}/IMET1v2/Sequence/STARIndex/"
        bwa     = "${params.genomes_base}/IMET1v2/Sequence/BWAIndex/genome.fa"
    }
  }
}

